extends ./layout

//- angularApplicationName = 'addressBookApp'
block append navbar
	if user.canSendEmail
		button.btn.btn-default.pull-right(ng-click='showSendToAllEmailDialog()')
			i.fa.fa-envelope-o
			span Написать всем

block content
	div(ng-cloak)
		.container
			.panel
				.row
					.col-sm-12
						.right-addon
							input.form-control.input-lg(ng-model='searchString' type='text' placeholder='Введите название компании или номер офиса' focus-me='isSearchInputFocused')
							i.fa.fa-search
			.sort-panel
				.row
					.col-sm-12
						ul
							li: span Сортировать:						
							li: a(ng-click='orderByName()' ng-class='{active:isOrderedByName()}') по названию 
							li: a(ng-click='orderByRoom()' ng-class='{active:isOrderedByRoom()}') по офису
							li(style='text-align: right;')
						
								
			.book
				.book-row.row(ng-repeat='row in companies | filter:searchString | orderBy:orderProperty')
					.col-lg-2.col-sm-2.col-xs-4
						.photo
							img(src='{{row.url}}')
					.col-lg-10.col-sm-10.col-xs-8
						.row
							.col-sm-7
								div: h3 {{row.name}}
								.contacts
									.contact-item
										i.fa.fa-building-o
										small {{row.room}}
									.contact-item
										i.fa.fa-phone
										small {{row.phone}}
									.contact-item(ng-show='row.email')
										i.fa.fa-envelope-o
										small {{row.email}}
									.contact-item(ng-show='row.referent')
										i.fa.fa-user
										small {{row.referent}}
							.col-sm-5
								if user.canCall
									button.call.btn.btn-primary(ng-click='makeCall(row)') 
										i.fa.fa-phone
										span Позвонить
								if user.canSendEmail
									button.btn.btn-default(ng-click='showSendEmailDialog(row)') 
										i.fa.fa-envelope-o
										span Написать
								

block append scripts
	script(type='text/javascript' src='/js/addressBook.js')