.ngdialog-message.email-dialog
	form.form-horizontal
		.form-group
			label.control-label Кому
			div: i {{getTo()}}
		.form-group
			label.control-label Тема
			input.form-control(ng-model='subject' ng-required type='text')
		.form-group
			label.control-label Текст
			textarea.form-control(ng-model='text' ng-required rows='6')
.ngdialog-buttons(style='text-align: right;')
	button.btn.btn-primary(ng-click='sendEmail()' ng-disabled='isSendDisabled()' type='button' )
		i.fa.fa-ellipsis-h(ng-show='isSending === true')
		i.fa.fa-send(ng-show='isSending === false')
		Отправить
	button.btn.btn-default(ng-click='closeThisDialog()' type='button') Отмена