doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block head      
      link(rel='stylesheet', href='./css/bootstrap.css')
      link(rel='stylesheet', href='./css/bootstrap-theme.css')
      link(rel='stylesheet', href='./css/style.css')
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
      link(rel='stylesheet', href='./css/ngDialog.css')
      link(rel='stylesheet', href='./css/ngDialog-theme-default.css')
      link(rel='stylesheet', href='./css/ngDialog-theme-plain.css')
      link(rel='stylesheet', href='./css/ngDialog-custom-width.css')
      script(src='./js/angular.js')
      script(src='./js/ngDialog.js')
  //- var angularApplicationName = null;
  body(ng-app= angularApp ng-controller=angularCtl)
    nav.custom-navbar
      .container
        .row
          .col-sm-3.col-xs-2
            a.logo(href='/')
              img(src='/images/alphone.png')
          .col-sm-9.col-xs-10
            block navbar
              if user
                ul.user-menu.pull-right
                  li.avatar.dropdown                  
                    a(data-toggle="dropdown" role="button")
                      img(src=user.url)
                      span.hidden-xs= user.displayName
                      span.caret
                    ul.dropdown-menu.dropdown-menu-right(role="menu")
                      li: a= user.email
                      li: a= user.phone
                      li.divider(role='separator')
                      li: a(href="/logout") Выйти
    block content
    block scripts
      script(src='./js/jquery-1.11.3.min.js')
      script(src='./js/bootstrap.js')