extends ./layout

block content
	.login-page
		.login-form
			.container(ng-app='addressBookApp')
				.row
					.col-sm-4.col-sm-offset-4
						form.form-horizontal(ng-controller='loginController' action='/login' method='POST')
							.form-group
								label.col-sm-3.control-label(for='usernameInput') Логин
								.col-sm-9
									input#usernameInput.form-control(focus-me='isLoginInputFocused' type='text' name='username')
							.form-group
								label.col-sm-3.control-label(for='passwordInput') Пароль
								.col-sm-9
									input#passwordInput.form-control(type='password'  name='password')
							.form-group
								.col-sm-9.col-sm-offset-3
									button.btn.btn-primary(type='submit') Вход
block append scripts
	script(src='/js/addressBook.js')