/* NavBar */
html, body {
  height: 100%;
}

.custom-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;  
  height: 70px;
  padding-top: 12px;
  background-color: white;
  border: 1px solid #e7e7e7;
  z-index: 2;
} 
.custom-navbar div{
 height: 100%;
}

a.logo>img{
  height: 40px;
}

ul.user-menu {
  margin-top: 2px;
  list-style: none;
}

ul.user-menu>li {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

ul.user-menu>li.avatar>a:hover
{
  opacity: 0.8;
}

ul.user-menu>li.avatar>a>img {
  height: 40px;
  border-radius: 50%;
  margin-right:10px;
} 

ul.user-menu>li.avatar>a {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  color:#585663;
} 

ul.user-menu>li.avatar>a:hover {
  text-decoration: none;
} 

ul.user-menu ul.dropdown-menu>li>i {
  position: absolute;
  left: 6px;
  top: 11px;
  opacity: 0.5;
}

/* End of NavBar */


.photo {
  display: block;
    
  width:70%;
  height: 0;
  margin: 20px auto;  
  padding-bottom: 70%;
  
  text-align: center;
   
  -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.36);
  box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.36);
}

.photo>img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.photo:before {
  display: inline-block;
  content: "";
  padding-bottom: 100%;
  vertical-align: middle;
}

.panel {
  margin-top: 120px;
}

/* сортировка */
.sort-panel {
  margin-top: 0px;
}

.sort-panel ul  {
  display: inline-block;
  padding-left: 10px; 
}
.sort-panel ul>li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.sort-panel ul>li>a {
    cursor: pointer;
}

.sort-panel ul>li>a.active {
  text-decoration: none;
  color: black;
  cursor: default;  
}

.book {
  margin-top: 10px;
}

.book-row {
  padding: 20px 10px;
  margin-bottom: 0px;
}

/*.book-row:hover {
  background-color: #DAE8FF;
}*/

.contacts .contact-item {
  margin-bottom: 5px;
}

.contacts .contact-item i {  
  float: left;  
  
  margin-top: 3px; 
  margin-left: 5px;
}

.contacts .contact-item small {  
  display: block;
  margin-top: 5px;
  margin-left: 25px;
  padding-top: 2px;
} 

.right-addon input {
  padding-right: 50px;
}

.right-addon i {
  position: absolute;
  right: 40px;
  top: 16px;
  font-size: 2em;
  color: gray;
}

.book-row .btn {
  margin-top: 20px;
}

.btn>i {
  margin-right: 5px;
}

/* страница логина */
.login-page {
  height: 100%;
  text-align: center;
}

.login-page:before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}

.login-page .login-form {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.caption {
  color: #ccc;
}

/* окно отправки сообщения */
.email-dialog {
  padding: 20px;
}